@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
  color: rgb(43, 43, 43);
}

a {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "BBH Sans Bogle", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  color: black;
}

ul {
  list-style-type: none;
}
